header{
  position: fixed;

  top: 0;
  left: 0;
  @include set-background($nav-bg)
  width: 100%;
  height: 80px;
  display: flex;
  z-index: 9999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 0.2s, transform 0.2s;
  transform: scale(1);
  padding: 16px 0px 24px 0 ;
  border-bottom: 0;
  //display: none;
  article{
    //max-width: $left-col-width;
    max-width: 900px;
    .flexer{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      @include set-padding-margin($navigation-inner-padding);
    }

  }
  // &.anchored{
  //   background: rgba(0,0,0,0);
  //   //transform: scale(0.9);
  //   // .header-inner a, ul#nav_main li a, ul#nav_main li{color: #fff;}
  //   ul#nav_main li{
  //     //height: 60px;
  //     border-radius: 12px;
  //     &:hover{
  //       // border-radius: 12px;
  //       a{ color: $dark-color; }
  //     }
  //   }
  // }
  &.anchored{
    border-bottom: 0;
  }
  .header-inner{
    height: 100%;
    width: 100%;
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 8px;
    
    
  }
  a.logo-link{
    display: none !important;
    font-size: 2.8rem;
    //font-family: 'presicav';
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    color: $dark-color;
    transition: 0.3s transform, 0.2s color;
    //transform: scale(1);
    cursor: pointer;
    width: 100%;
    display: block;
    flex-shrink: 2;
    &:hover{
      color: $dark-color;
      //transform: scale(1.1);
      -webkit-animation: logo-sparkle 4s infinite; /* Safari 4+ */
      -moz-animation:    logo-sparkle 4s infinite; /* Fx 5+ */
      -o-animation:      logo-sparkle 4s infinite; /* Opera 12+ */
      animation:         logo-sparkle 4s infinite; /* IE 10+, Fx 29+ */
    }
  }
}


@-webkit-keyframes logo-sparkle {
  0%   { color: #6d9242; }
  10%   { color: #2196f3; }
  20%   { color: #826cec; }
  30%   { color: #ff9800; }
  40%   { color: #795548; }
  50%   { color: #ec6ca0; }
  60%   { color: #6c8bec; }
  70%   { color: #c5ec6c; }
  80%   { color: #ecc76c; }
  90%   { color: #efc6c6; }
  100%   { color: #795548; }
}
@-moz-keyframes logo-sparkle {
  0%   { color: #6d9242; }
  10%   { color: #2196f3; }
  20%   { color: #826cec; }
  30%   { color: #ff9800; }
  40%   { color: #795548; }
  50%   { color: #ec6ca0; }
  60%   { color: #6c8bec; }
  70%   { color: #c5ec6c; }
  80%   { color: #ecc76c; }
  90%   { color: #efc6c6; }
  100%   { color: #795548; } 
  
}
@-o-keyframes logo-sparkle {
  0%   { color: #6d9242; }
  10%   { color: #2196f3; }
  20%   { color: #826cec; }
  30%   { color: #ff9800; }
  40%   { color: #795548; }
  50%   { color: #ec6ca0; }
  60%   { color: #6c8bec; }
  70%   { color: #c5ec6c; }
  80%   { color: #ecc76c; }
  90%   { color: #efc6c6; }
  100%   { color: #795548; }  
  
}
@keyframes logo-sparkle {
  0%   { color: #6d9242; }
  10%   { color: #2196f3; }
  20%   { color: #826cec; }
  30%   { color: #ff9800; }
  40%   { color: #795548; }
  50%   { color: #ec6ca0; }
  60%   { color: #6c8bec; }
  70%   { color: #c5ec6c; }
  80%   { color: #ecc76c; }
  90%   { color: #efc6c6; }
  100%   { color: #795548; }  
  
}
//animation

// list in nav
// nav{
  
//   height: 100%;
//   width: 100%;
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
//   @include set-display($desktop-menu-display);
//   // .menu-main-navigation-container{
//   //   //width: $left-col-width;
//   //   height: 100%;
//   // }
//   display: none !important;
// }
// #nav_main{
//   height: 100%;
  // ul#nav_main{
  //   height: 100%;
  //   display: flex;
  //   list-style: none;
  //   height: 100%;
  //   width: 100%;
  //   margin: 0;
  //   padding: 0;
  //   align-items: center;
  //   display: flex;
  // justify-content: flex-end;
  // align-items: center;
  // position: relative;
  // top: 7px;
  //   li{
  //     //width: 100%;
  //     height: 100%;
  //     display: flex;
  //     justify-content: flex-end;
  //     align-items: center;
  //     text-align: right;
  //     text-indent: 0;
  //     margin-left: 16px;
  //     a{
  //       color: $dark-color;
  //       //height: 100%;
  //       width: 100%;
  //       font-size: 2.4rem;
  //       font-weight: 700;
  //       -webkit-font-smoothing: antialiased;
  //       &:hover{
  //         color: $text-blue;
  //       }

  //     }
  //   }

  nav{
    position: fixed;
    height: 100%;
    //display: flex;
    display: none;
    width: 100%;
    //background: hsla(255,255,255,0.9);
    background: hsla(0,0,0,0.85);
    align-items: center;
    justify-content: center;
    h1,h2{
        letter-spacing: 0.5 !important;
      }
    article{
      div,h1,h2{
        transition: opacity 0.3s;
      }

      background: #fff;
      border: 1px solid hsla(0,0,0,0.3);
      border-radius: 8px;
      max-width:90vw;
      //height: 50vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 40px;
      padding-bottom: 0;
      h1{
        font-size: 18px;
        font-family: 'stratos';
        font-weight: 400;
        text-align: center;
        line-height: 28px;
        margin: 0;
        em{
          font-weight: 700;
          text-decoration: none;
          font-style: normal !important;
        }
      }
      h2{
        color: #999;
        font-size: 18px;
        font-family: 'stratos';
        font-weight: 400;
        text-align: center;
        margin: 8px auto 10px 2px;
        width: 100%;
      }
      .tip-options{
        display: flex;
        width: 100%;
        align-items: stretch;
        margin: 16px auto 8px auto;
        
        span{
          border: 1px solid #ccc;
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: center;
          padding: 12px 0;
          ///border-radius: 4px;
          font-size: 18px;
          font-weight: 100;
          transition: background 0.15s;
          cursor: pointer;
          &:hover{
            background: #eee;
          }
          .tt{
            transform: translate(-4px,0px);
            display: inline;
            width: auto;
            font-weight: 100;
            border: none;
            padding: 0;
            margin: 0;
            background: none;
             &:hover{
              background: none;
            }
          }

          &.active{
            background: #0079E4;
            color: #fff;
            border: 1px solid #005fb3;
          }
          
          em{
            font-style: normal !important;
            transform: scale(0.7) translate(-5px,0px);;
          }
          &:not(:last-child) {
            margin-right: 10px;
          }

        }
      } // end of tip buttons
      .thank-you{
        font-size: 16px;
        margin-top: 12px;
        margin-bottom: 12px;
        width: 100%;
        text-align: center;
        font-weight: 100;
        &.hidden{
          opacity: 0;
        }
      }
      .trap{
          background: #ccc;
          color: #999;
          display: flex;
          justify-content: center;
          padding: 12px 0;
          width: 100%;
          margin-top: 12px;
          cursor: pointer;
          &.active{
            background: #0079E4;
            color: #fff;
            border-color: #005fb3;
          }
        }
    }
  }


  // mobile menu
#mobile-menu{
  @include set-display($mobile-menu-display);
      font-size: 1.8rem;
    position: relative;
    top: -2px;
    font-family: 'rhode';
    text-transform: uppercase;
  //border: 1px solid $dark-color;
  //border-radius: 4px;
  //color: $dark-color;
  //padding: 6px 10px;
}






